body{
    padding-top: 50px;
}
.add-task-btn{
    background-color: #018786;
    color: whitesmoke;
}

.list{
    display: flex;
    justify-content: space-between;
}
.todo-para{
    width: 70%;
}
.todo-date{
    width: 10%;
}
.btn-light{
    margin-right: 10px;
}